name: CI

on: [push, pull_request, workflow_dispatch]

jobs:
  # ubuntu:
  #   name: Test all on Ubuntu (GCC and Clang)
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Install Valgrind
  #       run: |
  #         sudo apt update && sudo apt install -y valgrind

  #     - name: Run all tests
  #       run: |
  #         cd test
  #         ./test_all_ubuntu_22.04.sh

  windows:
    name: Test all on Windows (Visual C++)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ilammy/msvc-dev-cmd@v1

      - name: Install GNU Make
        run: |
          choco install make

      - name: Run all tests
        shell: cmd
        working-directory: ./test
        run: |
          set SHELL=cmd.exe
          make SILENT=1 -f makefile.msvc
